<!DOCTYPE html>
<html>

<head>
    <title>Show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'basic/basic.css' %}">
</head>

<body>
    <div class="user_blank">
        <p>
            <a href='/success'>Dashboard</a> |
            <a href='/logout'>Logout</a>
        </p>
        <h1>Posts by {{ user.first_name }}</h1>
        <p>Count: {{ count }}</p>
        {% if quotes %} {% for quote in quotes %}
        <p>
            <span>{{ quote.author }}</span>: {{ quote.content }}</p>
            <hr>
        {% endfor %} {% endif %}

    </div>
</body>

</html>